<p>dialog-add-user works!</p>
<section>
    <h2 mat-dialog-title>Add User</h2>
  
    <mat-dialog-content>
      <div>
        <mat-form-field class="input-first-name" appearance="outline">
          <mat-label>First Name</mat-label>
          <input [(ngModel)]="user.firstName" matInput placeholder="Placeholder" />
          <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="input-last-name" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input [(ngModel)]="user.lastName" matInput placeholder="Placeholder" />
          <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
      </div>
  
      <div>
          <mat-form-field class="input-birth-date" appearance="outline">
            <mat-label>Birth Date</mat-label>
            <input [(ngModel)]="birthDate" matInput placeholder="MM/DD/YYYY" [matDatepicker]="datepicker"/>
            <!-- <mat-hint>Please enter a date</mat-hint> -->
  
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      
            <mat-datepicker #datepicker>
            </mat-datepicker>
  
              <!-- <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button matDatepickerApply>Apply</button>
                </mat-datepicker-actions> -->
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field class="input-street" appearance="outline">
            <mat-label>Street</mat-label>
            <input [(ngModel)]="user.street" matInput placeholder="Placeholder" />
            <!-- <mat-hint>Please enter a </mat-hint> -->
          </mat-form-field>
          <mat-form-field class="input-house" appearance="outline">
            <mat-label>House No.</mat-label>
            <input [(ngModel)]="user.houseNumber" matInput placeholder="Placeholder" />
            <!-- <mat-hint>Please enter a </mat-hint> -->
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field class="input-zip-code" appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input [(ngModel)]="user.zipCode" matInput placeholder="Placeholder" />
            <!-- <mat-hint>Please enter a </mat-hint> -->
          </mat-form-field>
          <mat-form-field class="input-city" appearance="outline">
            <mat-label>City</mat-label>
            <input [(ngModel)]="user.city" matInput placeholder="Placeholder" />
            <!-- <mat-hint>Please enter a </mat-hint> -->
          </mat-form-field>
        </div>
  
    </mat-dialog-content>
  
    <mat-dialog-actions>
      <button mat-button>Cancel</button>
      <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
  </section>
  