.add-user-btn {
    position:absolute;
    bottom:56px;
    right:56px;
}

mat-card-content {
    table {
        width:100%;
        text-align: left;
        border-collapse:collapse;
    }
    th {
        color:rgba(122, 122, 122, 0.6);
        height:28px;
    }
    td {
        height:48px;
    }
    tr {
        cursor:pointer;
        &:hover {
            background-color: rgba(122, 122, 122, 0.06);
        }
        border-bottom:1px solid rgba(122, 122, 122, 0.6);
        &:first-of-type {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }
        &:last-of-type {
            border-bottom:none;
        }
    }
} 