<mat-card appearance="outlined">
  <mat-card-content>
    <table>
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Street</th>
        <th>City</th>
      </tr>
      <tr>
        <td>Name</td>
        <td>E-Mail</td>
        <td>Street</td>
        <td>City</td>
      </tr>

      <tr>
        <td>Name</td>
        <td>E-Mail</td>
        <td>Street</td>
        <td>City</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button class="add-user-btn" mat-fab matTooltip="Add User" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>