<mat-card appearance="outlined">
  <mat-card-content>
    <table>
      <tr>
        <th>Name</th>
        <th>Street</th>
        <th>City</th>
        <th>E-Mail</th>
      </tr>
      <tr *ngFor="let user of userList" [routerLink]="['/user/' + user.userId]">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.street }} {{ user.houseNumber }}</td>
        <td>{{ user.zipCode }} {{ user.city }}</td>
        <td>{{ user.mail }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button
  class="add-user-btn"
  mat-fab
  matTooltip="Add User"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>
