html,
body {
    height: 100%;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin margin ($ml: 0, $mr: 0, $mt: 0, $mb: 0) {
    margin-left: $ml;
    margin-right: $mr;
    margin-top: $mt;
    margin-bottom: $mb;
}

@mixin padding ($pl: 0, $pr: 0, $pt: 0, $pb: 0) {
    margin-left: $pl;
    margin-right: $pr;
    margin-top: $pt;
    margin-bottom: $pb;
}